<main class="homepage">
  <%= render "shared/banner" %>

  <section class="all-recipes">
    <div class="container">
      <% if @cocktails.empty? %>
        <div class="no-recipe">
          <p>No recipes found for this ingredient, try another fruit perhaps? 😢</p>
        </div>

        <% else %>

        <div class="filter-option">
          <span ><%= @ingredient.name %> recipes</span>
          <%= link_to "View all recipes", cocktails_path, class: "btn btn-outline-primary" %>
        </div>

        <div class="row">
          <% @cocktails.each do |cocktail| %>
            <div class="col-6 col-md-4 col-xl-3">
              <div class="recipe-card">
                <%= cl_image_tag cocktail.photo, class: "recipe-card-image" %>
                <!-- <div class="recipe-card-image"></div> -->
                <%= link_to cocktail.name, cocktail_path(cocktail), class: "recipe-card-link" %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  </section>
</main>
