<main>
  <div class="container">
    <i class="fas fa-chevron-left"></i><%= link_to "Cancel", cocktail_path(@cocktail), class: "btn-back" %>
    <h1>Add an ingredient</h1>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient, collection: @ingredients %>
      <%= f.submit "Add ingrdient" %>
    <% end %>
  </div>
</main>
